<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isInPage]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('content')"
    ></x-markdown>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="./assets/docs/x-framework-components/components/XFormComponent.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>

  <x-markdown
    [isInPage]="true"
    [mode]="'preview'"
    [content]="sample1"
    [hasToolbar]="false"
    [wrapWithCard]="true"
    [cssClass]="'code-block'"
    [cardTitle]="resourceProvider(ResourceIDs.sample)"
  ></x-markdown>

  <!-- <x-markdown
    [isInPage]="true"
    [mode]="'preview'"
    [content]="sample2"
    [hasToolbar]="false"
    [wrapWithCard]="true"
    [cssClass]="'code-block'"
  ></x-markdown> -->

  <!-- Form -->
  <x-form
    [isInPage]="true"
    *ngIf="xFormConfig"
    [wrapWithCard]="true"
    [formConfig]="xFormConfig"
    [fillColor]="ColorNames.Dark"
    [activeColor]="ColorNames.Primary"
    [actionProvider]="formActionProvider"
    [invalidColor]="ColorNames.DangerShade"
    [regularColor]="ColorNames.SecondaryShade"
  ></x-form>
</v-page>

<ng-template #nameAutoCompleteRef let-item>
  {{ item.data }}
</ng-template>
