<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isInPage]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('content')"
    ></x-markdown>

    <x-form
      *ngIf="xFormConfig"
      [formConfig]="xFormConfig"
      [fillColor]="ColorNames.Dark"
      [regularColor]="ColorNames.Light"
      [activeColor]="ColorNames.Primary"
      [actionProvider]="formActionProvider"
      [invalidColor]="ColorNames.DangerShade"
    ></x-form>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="https://docs.x-framework.ir/x-framework-components/components/XFormComponent.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>
</v-page>

<ng-template #nameAutoCompleteRef let-item>
  {{ item.data }}
</ng-template>
