<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isInPage]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [hasToolbar]="false"
      [mode]="MarkdownModes.PREVIEW"
      [content]="getContent('content')"
    ></x-markdown>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="./assets/docs/x-framework-components/components/XMarkdownComponent.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>

  <!-- Samples -->
  <x-markdown
    [isInPage]="true"
    [content]="sample1"
    [hasToolbar]="false"
    [wrapWithCard]="true"
    [cssClass]="'code-block'"
    [mode]="MarkdownModes.PREVIEW"
    [cardTitle]="resourceProvider(ResourceIDs.sample)"
  ></x-markdown>

  <!-- Components -->
  <x-markdown
    [isInPage]="true"
    [wrapWithCard]="true"
    [mode]="MarkdownModes.BOTH"
    [(content)]="sampleContent1"
    [toolbarColor]="ColorNames.Dark"
  ></x-markdown>

  <!-- Samples -->
  <x-markdown
    [isInPage]="true"
    [content]="sample2"
    [hasToolbar]="false"
    [wrapWithCard]="true"
    [cssClass]="'code-block'"
    [mode]="MarkdownModes.PREVIEW"
    [cardTitle]="resourceProvider(ResourceIDs.sample)"
  ></x-markdown>

  <!-- Components -->
  <x-markdown
    [isInPage]="true"
    [hasToolbar]="false"
    [wrapWithCard]="true"
    [content]="sampleContent2"
    [mode]="MarkdownModes.PREVIEW"
  ></x-markdown>
</v-page>
