<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isInPage]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [hasToolbar]="false"
      [mode]="MarkdownModes.PREVIEW"
      [content]="getContent('content')"
    ></x-markdown>

    <x-markdown
      [hasToolbar]="false"
      [content]="sample1"
      [cssClass]="'code-block'"
      [mode]="MarkdownModes.PREVIEW"
    ></x-markdown>

    <x-markdown
      [mode]="MarkdownModes.BOTH"
      [(content)]="sampleContent1"
      [toolbarColor]="ColorNames.Dark"
    ></x-markdown>

    <x-markdown
      [hasToolbar]="false"
      [content]="sample2"
      [cssClass]="'code-block'"
      [mode]="MarkdownModes.PREVIEW"
    ></x-markdown>

    <x-markdown
      [hasToolbar]="false"
      [content]="sampleContent2"
      [mode]="MarkdownModes.PREVIEW"
    ></x-markdown>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="./assets/docs/x-framework-components/components/XMarkdownComponent.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>
</v-page>
