<div class="wrapper">
  <h3 class="title">
    {{ getResourceValue(ResourceIDs.maintainer_title) | async }}
  </h3>
  <h4 class="content">
    {{ getResourceValue(ResourceIDs.maintainer_name) | async }}
  </h4>
  <h4>
    <a target="_blank" href="https://saherelm.ir">https://saherelm.ir</a>
  </h4>
  <h4>
    <a target="_blank" href="mailto:hadi_khazaee_asl@yahoo.com"
      >hadi_khazaee_asl@yahoo.com</a
    >
  </h4>
  <div class="socials">
    <!-- LinkedIn -->
    <div>
      <!-- <x-icon name=""></x-icon> -->
    </div>
  </div>
</div>
