<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-markdown
    [mode]="'preview'"
    [hasToolbar]="false"
    [wrapWithCard]="true"
    [isPageMarkdown]="true"
    [content]="getContent('content')"
  ></x-markdown>

  <!-- File Drop Area Content -->
  <x-card [isPageCard]="true" [showActions]="true" [color]="ColorNames.Light">
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('fileDropAreaContent')"
    ></x-markdown>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="https://docs.x-framework.ir/x-framework-components/components/XFileDropAreaComponent.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>

  <x-markdown
    [mode]="'preview'"
    [hasToolbar]="false"
    [wrapWithCard]="true"
    [isPageMarkdown]="true"
    [cssClass]="'code-block'"
    [content]="fileDropAreaSample1"
    [cardTitle]="resourceProvider(ResourceIDs.sample)"
  ></x-markdown>

  <!-- File Drop Area -->
  <x-file-drop-area
    [wrapWithCard]="true"
    [isPageFileDropArea]="true"
    [supportsMultipleFiles]="true"
    (filesChangeEmiter)="handleFilesChanged($event)"
  ></x-file-drop-area>

  <!-- Image Cropper Content -->
  <x-card [isPageCard]="true" [showActions]="true" [color]="ColorNames.Light">
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('imageCropperContent')"
    ></x-markdown>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="https://docs.x-framework.ir/x-framework-components/modules/XImageCropperModule.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>

  <x-card
    [isPageCard]="true"
    [showHeader]="true"
    [showActions]="true"
    [color]="ColorNames.Light"
    [title]="resourceProvider(ResourceIDs.avatar)"
  >
    <!-- File Upload Input -->
    <input
      hidden
      #fileInput
      type="file"
      multiple="false"
      (change)="handleFilesSelected()"
      [disabled]="isLoading || uiDisabled"
    />

    <x-button
      (click)="selectFile()"
      [type]="ButtonTypes.Raised"
      [color]="ColorNames.Primary"
      [title]="resourceProvider(ResourceIDs.select) + ' ' + resourceProvider(ResourceIDs.avatar)"
    >
    </x-button>

    <!-- Wrapper of Thumbnail -->
    <div class="thumbnail-wrapper" *ngIf="file">
      <x-slotter
        [hasCenterSlot]="false"
        [layout]="SlotLayout.HORIZONTAL"
        [startTopSlotCssClass]="'ion-text-start'"
        [endBottomSlotCssClass]="['ion-text-center']"
      >
        <x-slot [name]="SlotNames.START">
          <div>
            <x-thumbnail
              class="x-thumb"
              [type]="'custom'"
              [identifier]="file"
              [loading]="isLoading"
              [cssClass]="'thumbnail'"
              [uiDisabled]="uiDisabled"
            >
            </x-thumbnail>
          </div>
        </x-slot>

        <x-slot [name]="SlotNames.END" [cssClass]="'full-height'">
          <div class="avatar-actions ion-text-end">
            <div>
              <ion-button
                *ngIf="croppableImage()"
                (click)="handleLoadCropper()"
                [disabled]="isLoading || uiDisabled"
                [matTooltip]="resourceProvider(ResourceIDs.crop)"
              >
                <x-icon [name]="'crop'" slot="icon-only"></x-icon>
              </ion-button>

              <ion-button
                (click)="handleClearFile()"
                [disabled]="isLoading || uiDisabled"
                [matTooltip]="resourceProvider(ResourceIDs.clear)"
              >
                <x-icon [name]="'clear'" slot="icon-only"></x-icon>
              </ion-button>
            </div>
          </div>
        </x-slot>
      </x-slotter>
    </div>
  </x-card>
</v-page>
