<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isInPage]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('content')"
    ></x-markdown>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="./assets/docs/x-framework-components/components/XExpandableListComponent.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>

  <x-markdown
    [isInPage]="true"
    [mode]="'preview'"
    [content]="sample1"
    [hasToolbar]="false"
    [wrapWithCard]="true"
    [cssClass]="'code-block'"
    [cardTitle]="resourceProvider(ResourceIDs.sample)"
  ></x-markdown>

  <x-markdown
    [isInPage]="true"
    [mode]="'preview'"
    [content]="sample2"
    [hasToolbar]="false"
    [wrapWithCard]="true"
    [cssClass]="'code-block'"
  ></x-markdown>

  <x-expandable-list
    [isInPage]="true"
    [items]="listItems"
    [wrapWithCard]="true"
    [closeSiblings]="true"
    [supportRouting]="false"
    [showChildDetailIcon]="true"
    [showParentDetailIcon]="true"
    [startupState]="'expand-all'"
    [disableParentRouting]="false"
    [dividerColor]="ColorNames.Danger"
    [childColor]="ColorNames.Secondary"
    [parentColor]="ColorNames.Tertiary"
    [highlightColor]="ColorNames.Success"
    [parentActiveColor]="ColorNames.Danger"
    [childActiveColor]="ColorNames.Warning"
    (itemSelected)="handleItemSelected($event)"
  >
  </x-expandable-list>
</v-page>
