<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isPageCard]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('content')"
    ></x-markdown>

    <!-- Sample -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="sample1"
      [cssClass]="'code-block'"
    ></x-markdown>

    <x-slider
      [options]="{
      lazy: true,
      zoom: true,
      autoplay: true,
      initialSlide: 0,
      grabCursor: true,
      autoHeight: true,
      slidesPerView: 1,
      loadPrevNext: true,
      preventClicks: false,
      speed: 400,
      pagination: true
    }"
      [animation]="SliderAnimations.Coverflow"
    >
      <x-slide>
        <ng-container *ngTemplateOutlet="slideRef"></ng-container>
      </x-slide>

      <x-slide>
        <ng-container *ngTemplateOutlet="slideRef"></ng-container>
      </x-slide>

      <x-slide>
        <ng-container *ngTemplateOutlet="slideRef"></ng-container>
      </x-slide>

      <x-slide>
        <ng-container *ngTemplateOutlet="slideRef"></ng-container>
      </x-slide>

      <x-slide>
        <ng-container *ngTemplateOutlet="slideRef"></ng-container>
      </x-slide>
    </x-slider>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="https://docs.x-framework.ir/x-framework-components/modules/XSliderModule.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>
</v-page>

<ng-template #slideRef>
  <div class="slide-content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas eum odit
    labore magnam accusantium assumenda error voluptatem ad cumque velit? Eos
    expedita minus doloremque error iste nam commodi aspernatur repellendus.
  </div>
</ng-template>
