<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isInPage]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('content')"
    ></x-markdown>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="./assets/docs/x-framework-components/modules/XSliderModule.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>

  <!-- Sample -->
  <x-markdown
    [isInPage]="true"
    [mode]="'preview'"
    [content]="sample1"
    [hasToolbar]="false"
    [wrapWithCard]="true"
    [cssClass]="'code-block'"
    [cardTitle]="resourceProvider(ResourceIDs.sample)"
  ></x-markdown>

  <!-- Component -->
  <x-slider
    [isInPage]="true"
    [options]="{
      lazy: true,
      zoom: true,
      autoplay: true,
      initialSlide: 0,
      grabCursor: true,
      autoHeight: true,
      slidesPerView: 1,
      loadPrevNext: true,
      preventClicks: false,
      speed: 400,
      pagination: true
    }"
    [wrapWithCard]="true"
    [animation]="SliderAnimations.Coverflow"
  >
    <x-slide>
      <ng-container *ngTemplateOutlet="slideRef"></ng-container>
    </x-slide>

    <x-slide>
      <ng-container *ngTemplateOutlet="slideRef"></ng-container>
    </x-slide>

    <x-slide>
      <ng-container *ngTemplateOutlet="slideRef"></ng-container>
    </x-slide>

    <x-slide>
      <ng-container *ngTemplateOutlet="slideRef"></ng-container>
    </x-slide>

    <x-slide>
      <ng-container *ngTemplateOutlet="slideRef"></ng-container>
    </x-slide>
  </x-slider>
</v-page>

<ng-template #slideRef>
  <div class="slide-content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas eum odit
    labore magnam accusantium assumenda error voluptatem ad cumque velit? Eos
    expedita minus doloremque error iste nam commodi aspernatur repellendus.
  </div>
</ng-template>
