<v-page
  [actions]="actions"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isPageCard]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('content')"
    ></x-markdown>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="https://docs.x-framework.ir/x-framework-components/components/XFabComponent.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>

  <x-card
    [isPageCard]="true"
    [showHeader]="true"
    [showActions]="true"
    [color]="ColorNames.Light"
    [title]="resourceProvider(ResourceIDs.sample)"
  >
    <x-markdown
      [mode]="'preview'"
      [content]="sample1"
      [hasToolbar]="false"
      [cssClass]="'code-block'"
    ></x-markdown>

    <x-markdown
      [mode]="'preview'"
      [content]="sample2"
      [hasToolbar]="false"
      [cssClass]="'code-block'"
    ></x-markdown>
  </x-card>

  <x-card [isPageCard]="true" [showActions]="true" [color]="ColorNames.Light">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <x-fab
      [item]="{
      id: 'fab_1',
      fixed: true,
      icon: IconNames.menu_vertical,
      size: FabButtonSizes.REGULAR,
      color: ColorNames.Tertiary,
      vertical: FabVerticalSlots.CENTER,
      horizontal: FabHorizontalSlots.CENTER,
      childs: [
      {
        id: 'fab_child_1',
        index: 0,
        icon: IconNames.phone,
        side: FabButtonSides.TOP,
        size: FabButtonSizes.MINI,
        color: ColorNames.Success,
        tooltip: ResourceIDs.temp_label,
        handler: fabHandler
      },
      {
        id: 'fab_child_2',
        index: 1,
        icon: IconNames.mail,
        side: FabButtonSides.BOTTOM,
        size: FabButtonSizes.MINI,
        color: ColorNames.Primary,
        tooltip: ResourceIDs.temp_label,
        handler: fabHandler
      },
      {
        id: 'fab_child_3',
        index: 2,
        icon: IconNames.share,
        side: FabButtonSides.START,
        size: FabButtonSizes.MINI,
        color: ColorNames.Medium,
        tooltip: ResourceIDs.temp_label,
        handler: fabHandler
      },
      {
        id: 'fab_child_3_1',
        index: 3,
        icon: IconNames.avatars,
        side: FabButtonSides.START,
        size: FabButtonSizes.MINI,
        color: ColorNames.Secondary,
        tooltip: ResourceIDs.temp_label,
        handler: fabHandler
      },
      {
        id: 'fab_child_4',
        index: 4,
        icon: IconNames.web,
        side: FabButtonSides.END,
        size: FabButtonSizes.MINI,
        color: ColorNames.Danger,
        tooltip: ResourceIDs.temp_label,
        handler: fabHandler
      }
      ]
    }"
    ></x-fab>
  </x-card>

  <!-- Descriptions -->
  <x-card
    [isPageCard]="true"
    [showActions]="true"
    [showHeader]="true"
    [color]="ColorNames.Light"
    [title]="resourceProvider(ResourceIDs.description)"
  >
    <!-- Descriptions -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('descriptions')"
    ></x-markdown>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="https://docs.x-framework.ir/x-framework-components/components/XPageComponent.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>

  <!-- Cards -->
  <ng-container *ngFor="let id of ids">
    <ng-container
      *ngTemplateOutlet="contentRef; context: {$implicit: id}"
    ></ng-container>
  </ng-container>
</v-page>

<!-- Template Content -->
<ng-template #contentRef let-id>
  <x-card
    [showHeader]="true"
    [isPageCard]="true"
    [showActions]="true"
    [title]="'Title ' + id"
    [subTitle]="'SubTitle ' + id"
    class="v-card v-no-marigin-card"
    [avatarUrl]="'/assets/icon/favicon.png'"
  >
    <!-- Content -->
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
      inventore, optio obcaecati, harum temporibus accusamus voluptatem,
      sapiente corporis expedita ipsum quos enim odio adipisci! At praesentium
      hic quaerat ad mollitia.
    </p>

    <!-- Actions -->
    <div actions>
      <!-- Like -->
      <x-button [type]="ButtonTypes.Icon">
        <x-icon [name]="IconNames.liked" [color]="ColorNames.Danger"></x-icon>
      </x-button>

      <!-- Share -->
      <x-button [type]="ButtonTypes.Icon">
        <x-icon [name]="IconNames.share" [color]="ColorNames.Tertiary"></x-icon>
      </x-button>
    </div>
  </x-card>
</ng-template>
