<v-page
  [actions]="actions"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isPageCard]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('content')"
    ></x-markdown>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="https://docs.x-framework.ir/x-framework-components/components/XIconComponent.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>

  <!-- Cards -->
  <ng-container *ngFor="let id of ids">
    <ng-container
      *ngTemplateOutlet="contentRef; context: {$implicit: id}"
    ></ng-container>
  </ng-container>
</v-page>

<!-- Template Content -->
<ng-template #contentRef let-id>
  <x-card
    [showHeader]="true"
    [isPageCard]="true"
    [showActions]="true"
    [title]="'Title ' + id"
    [subTitle]="'SubTitle ' + id"
    class="v-card v-no-marigin-card"
    [avatarUrl]="'/assets/icon/favicon.png'"
  >
    <!-- Content -->
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
      inventore, optio obcaecati, harum temporibus accusamus voluptatem,
      sapiente corporis expedita ipsum quos enim odio adipisci! At praesentium
      hic quaerat ad mollitia.
    </p>

    <!-- Actions -->
    <div actions>
      <!-- Like -->
      <x-button [type]="ButtonTypes.Icon">
        <x-icon [name]="IconNames.liked" [color]="ColorNames.Danger"></x-icon>
      </x-button>

      <!-- Share -->
      <x-button [type]="ButtonTypes.Icon">
        <x-icon [name]="IconNames.share" [color]="ColorNames.Tertiary"></x-icon>
      </x-button>
    </div>
  </x-card>
</ng-template>
