<x-page
  [color]="color"
  [hasSide]="hasSide"
  [actions]="actions"
  [sideSlot]="sideSlot"
  [sideType]="sideType"
  [cssClass]="cssClass"
  [loading]="isLoading"
  [sideColor]="sideColor"
  [menuState]="menuState"
  [uiDisabled]="uiDisabled"
  [footerColor]="footerColor"
  [toolbarTitle]="toolbarTitle"
  [toolbarColor]="toolbarColor"
  [toolbarHasBack]="toolbarHasBack"
  [toolbarHasMenu]="toolbarHasMenu"
  [toolbarLogoUrl]="toolbarLogoUrl"
  [toggleMenuWhen]="toggleMenuWhen"
  (loadMore)="loadMore.emit($event)"
  [toolbarShowBack]="toolbarShowBack"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowMenu]="toolbarShowMenu"
  [toolbarBackSlot]="toolbarBackSlot"
  [toolbarMenuSlot]="toolbarMenuSlot"
  [toolbarShowLogo]="toolbarShowLogo"
  [scrollBehaviour]="scrollBehaviour"
  [toolbarLogoSlot]="toolbarLogoSlot"
  [toolbarTitleSlot]="toolbarTitleSlot"
  [scrollEndClasses]="scrollEndClasses"
  [scrollingClasses]="scrollingClasses"
  [toolbarShowTitle]="toolbarShowTitle"
  [showPageRefresher]="showPageRefresher"
  [toolbarContentSlot]="toolbarContentSlot"
  [toolbarDefaultHref]="toolbarDefaultHref"
  [toolbarBackHandler]="toolbarBackHandler"
  [menuActionProvider]="menuActionProvider"
  [scrollStartClasses]="scrollStartClasses"
  [provideScrollEvents]="provideScrollEvents"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
  (scrolledEvent)="scrolledEvent.emit($event)"
  [actionsActionProvider]="actionsActionProvider"
  (menuStateChange)="menuStateChange.emit($event)"
  [toolbarShowProgressBar]="toolbarShowProgressBar"
  [toolbarProgressBarColor]="toolbarProgressBarColor"
  [showPageInfinityScroller]="showPageInfinityScroller"
  [scrollEventActionProvider]="scrollEventActionProvider"
  (splitterStateChanged)="splitterStateChanged.emit($event)"
  [footerContentTemplate]="footerContentTemplate || footerRef"
  [toolbarEndSlotButtonsTemplate]="toolbarEndSlotButtonsTemplate"
  [toolbarStartSlotButtonsTemplate]="toolbarStartSlotButtonsTemplate"
  [toolbarContentTemplate]="toolbarContentTemplate || toolbarContentTemplateRef"
>
  <!-- Side Content -->
  <div class="app-side-content" side>
    <ng-container *ngTemplateOutlet="defaultSideMenuRef"></ng-container>
  </div>

  <!-- Page Content -->
  <div class="app-page-content">
    <ng-content></ng-content>
  </div>
</x-page>

<ng-template #footerRef>
  <h4 class="x-footer-content">{{ resourceProvider(ResourceIDs.company) }}</h4>
</ng-template>

<ng-template #defaultSideMenuRef>
  <x-navigator
    [items]="navPages"
    [showChildIcon]="false"
    [closeSiblings]="false"
    [dividerColor]="'primary'"
    [highlightColor]="'warning'"
    [disableParentRouting]="true"
    [childColor]="'primary-shade'"
    [parentColor]="'tertiary-shade'"
    [parentActiveColor]="'tertiary-shade'"
  ></x-navigator>
</ng-template>

<ng-template #toolbarEndSlotButtonsTemplateRef>
  <x-button
    [type]="'icon'"
    [color]="'cb-inherit'"
    (click)="handleMoreButtonClicked($event)"
  >
    <x-icon [name]="'menu_vertical'" [color]="'light'"></x-icon>
  </x-button>
</ng-template>
