<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <div class="content-container">
    <x-button
      class="ion-margin-horizontal"
      [color]="'primary'"
      [title]="buttonLable"
      (click)="handleButtonClicked()"
    ></x-button>

    <x-button
      class="ion-margin-horizontal"
      [color]="'danger'"
      [title]="buttonLable"
      (click)="handleButtonClicked()"
    ></x-button>
  </div>
</v-page>
