<div
  class="x-theme-preview"
  [xColor]="getValue(color) | async"
  *ngIf="getValue(theme) | async as preparedTheme"
>
  <!-- Title -->
  <!-- <div class="x-theme-title" [xColor]="getValue(titleColor) | async">
    <span>{{ preparedTheme.name }}</span>
  </div> -->

  <!-- Types -->
  <x-tabs
    [swipable]="true"
    [loading]="isLoading"
    [dynamicHeight]="true"
    class="x-theme-types"
    [uiDisabled]="uiDisabled"
    [color]="getValue(color) | async"
    [tabPaginatorColor]="getValue(themeTypesColor) | async"
    [activeTabColor]="getValue(activeThemeTypeColor) | async"
    [tabIndicatorColor]="getValue(themeTypeIndicatorColor) | async"
  >
    <!-- Light -->
    <x-tab>
      <!-- Label -->
      <div x-tab-label>
        1
        {{ getTabLabel(ThemeTypes.Light) }}
      </div>

      <!-- Content -->
      <div>Salam</div>
    </x-tab>

    <!-- Dark -->
    <x-tab>
      <!-- Label -->
      <div x-tab-label>
        {{ getTabLabel(ThemeTypes.Dark) }}
      </div>

      <!-- Content -->
      <div>DDDDDD</div>
    </x-tab>
  </x-tabs>
</div>
