:host-context(::ng-deep.mat-tab-header) {
  display: flex !important;
}

.x-theme-preview {}

.x-theme-title {
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.x-color-items {}

.x-color-item {}

.x-color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
