<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isInPage]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('content')"
    ></x-markdown>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="./assets/docs/x-framework-components/modules/XTabsModule.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>

  <!-- Samples -->
  <x-markdown
    [isInPage]="true"
    [mode]="'preview'"
    [content]="sample1"
    [hasToolbar]="false"
    [wrapWithCard]="true"
    [cssClass]="'code-block'"
    [cardTitle]="resourceProvider(ResourceIDs.sample)"
  ></x-markdown>

  <!-- Components -->
  <x-tabs
    #xTabs
    [startIndex]="1"
    [isInPage]="true"
    [swipable]="true"
    [loopTabs]="false"
    [wrapWithCard]="true"
    [dynamicHeight]="false"
    [color]="ColorNames.Dark"
    [alignTabs]="TabAligns.START"
    [activeTabColor]="ColorNames.Medium"
    [tabIndicatorColor]="ColorNames.Warning"
    [tabPaginatorColor]="ColorNames.Warning"
    [headerPosition]="TabsHeaderPositions.BELOW"
  >
    <x-tab>
      <div x-tab-label>
        Tab 1
      </div>
      <div class="tab-wrapper" [xColor]="ColorNames.Danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis similique
        reiciendis vero vel. Et, in nemo. Sapiente doloremque provident ex
        dolore, expedita totam ipsam architecto vero mollitia magni. Corporis,
        dolore.
      </div>
    </x-tab>

    <x-tab>
      <div x-tab-label>
        Tab 2
      </div>

      <div class="tab-wrapper" [xColor]="ColorNames.Secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis similique
        reiciendis vero vel. Et, in nemo. Sapiente doloremque provident ex
        dolore, expedita totam ipsam architecto vero mollitia magni. Corporis,
        dolore.
      </div>
    </x-tab>

    <x-tab>
      <div x-tab-label>
        Tab 3
      </div>

      <div class="tab-wrapper" [xColor]="ColorNames.Warning">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis similique
        reiciendis vero vel. Et, in nemo. Sapiente doloremque provident ex
        dolore, expedita totam ipsam architecto vero mollitia magni. Corporis,
        dolore.
      </div>
    </x-tab>

    <x-tab>
      <div x-tab-label>
        Tab 4
      </div>

      <div class="tab-wrapper" [xColor]="color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis similique
        reiciendis vero vel. Et, in nemo. Sapiente doloremque provident ex
        dolore, expedita totam ipsam architecto vero mollitia magni. Corporis,
        dolore.
      </div>
    </x-tab>
  </x-tabs>
</v-page>
