<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isInPage]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('content')"
    ></x-markdown>

    <x-markdown
      [mode]="'preview'"
      [content]="sample1"
      [hasToolbar]="false"
      [cssClass]="'code-block'"
    ></x-markdown>

    <!-- Sample -->
    <x-map
      [zoom]="8"
      [showZoom]="true"
      [latitude]="35.84"
      [showRotate]="true"
      [showLocate]="true"
      [longitude]="50.9391"
      [showSearchBar]="true"
      [showZoomSlider]="false"
      [locateAfterInit]="true"
      [showClearMarker]="true"
      [showGoMarkedPlace]="true"
      style="--map-height: 300px;"
      [searchBarColor]="ColorNames.Tertiary"
      [searchResultListColor]="ColorNames.Primary"
    ></x-map>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="https://docs.x-framework.ir/x-framework-components/components/XMapComponent.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>
</v-page>
