<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isInPage]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('content')"
    ></x-markdown>

    <!-- Samples -->
    <x-markdown
      [mode]="'preview'"
      [content]="sample1"
      [hasToolbar]="false"
      [cssClass]="'code-block'"
    ></x-markdown>
    <x-markdown
      [mode]="'preview'"
      [content]="sample2"
      [hasToolbar]="false"
      [cssClass]="'code-block'"
    ></x-markdown>
    <x-markdown
      [mode]="'preview'"
      [content]="sample3"
      [hasToolbar]="false"
      [cssClass]="'code-block'"
    ></x-markdown>

    <!-- List Presenter -->
    <x-list
      #listPresenter
      [stickyToolbar]="true"
      [showActionBar]="true"
      [showSearchBar]="true"
      [showDivider]="false"
      [clickableItems]="true"
      [selectableItems]="true"
      [items]="templListItems"
      [enableReordering]="true"
      [itemTemplate]="listItemRef"
      [color]="ColorNames.Tertiary"
      (refresh)="handleRefreshList()"
      [actionBarColor]="ColorNames.Dark"
      [searchBarColor]="ColorNames.Dark"
      [searchBarInputColor]="ColorNames.Dark"
      (removeItems)="handleRemoveItems($event)"
    >
    </x-list>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="https://docs.x-framework.ir/x-framework-components/modules/XListModule.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>
</v-page>

<!-- List Item Template -->
<ng-template #listItemRef let-item>
  <span>{{item.data}}</span>
</ng-template>
