<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isInPage]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('content')"
    ></x-markdown>

    <!-- Stepper Type -->
    <x-form [formConfig]="stepperPresentationTypeFormConfig"></x-form>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="./assets/docs/x-framework-components/modules/XStepperModule.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>

  <!-- Stepper -->
  <x-stepper
    isInPage="true"
    showLabel="true"
    wrapWithCard="true"
    [type]="currentStepperType"
  >
    <!-- Step 1 -->
    <x-step [hasNext]="true" [disableNext]="xFormStepOne.status !== 'VALID'">
      <div x-step-label>
        Step ONe
      </div>

      <x-form #xFormStepOne [formConfig]="stepOneModelConfig"></x-form>
    </x-step>

    <!-- Step 2 -->
    <x-step
      [hasPrev]="true"
      [hasReset]="true"
      [disableReset]="xFormStepTwo.status !== 'VALID'"
    >
      <div x-step-label>
        Step TWo
      </div>

      <x-form #xFormStepTwo [formConfig]="stepTwoModelConfig"></x-form>
    </x-step>
  </x-stepper>
</v-page>
