//
$size: 64px !important;
.thumbnail-wrapper {
  margin-top: 6px;
  height: $size;
}

:host-context(::ng-deep.thumbnail ::ng-deep.x-item) {
  width: $size;
  min-width: $size;
  max-width: $size;

  height: $size;
  min-height: $size;
  max-height: $size;
}

:host-context(::ng-deep.thumbnail) {
  img {
    border-radius: 50% !important;
  }
}

.avatar-actions {
  //
  @extend .thumbnail-wrapper;

  //
  display: flex;
  align-items: center;
  flex-direction: row;

  //
  * {
    flex: auto;
    margin: {
      top: auto;
      bottom: auto;
    }

    //
    * {
      margin: {
        left: 3px;
        right: 3px;
      }
    }
  }
}
