<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-card [isInPage]="true" [showActions]="true" [color]="ColorNames.Light">
    <!-- Content -->
    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="getContent('content')"
    ></x-markdown>

    <x-markdown
      [mode]="'preview'"
      [hasToolbar]="false"
      [content]="sample1"
      [cssClass]="'code-block'"
    >
    </x-markdown>

    <x-expandable-panel
      [isAccordion]="true"
      [selected]="'First'"
      [headerColor]="ColorNames.Tertiary"
      [headerHighlightColor]="ColorNames.Warning"
    >
      <x-panel [id]="'First'" [hasNext]="true" [hasCustomActions]="true">
        <div x-panel-title>
          Title 1
        </div>

        <div x-panel-description>
          Description 1
        </div>

        Content 1

        <div actions>
          Custom Actions 1
        </div>
      </x-panel>

      <x-panel
        [id]="'Second'"
        [hasNext]="true"
        [hasPrev]="true"
        [hasReset]="true"
      >
        <div x-panel-title>
          Title 2
        </div>

        <div x-panel-description>
          Description 2
        </div>

        Content 2
      </x-panel>

      <x-panel [id]="'Third'" [hasPrev]="true" [hasReset]="true">
        <div x-panel-title>
          Title 3
        </div>

        <div x-panel-description>
          Description 3
        </div>

        Content 3
      </x-panel>
    </x-expandable-panel>

    <!-- Actions -->
    <div actions>
      <a
        target="_blank"
        href="https://docs.x-framework.ir/x-framework-components/modules/XExpandablePanelModule.html"
        >{{resourceProvider(ResourceIDs.documentation)}}</a
      >
    </div>
  </x-card>
</v-page>
