<v-page
  [hasSide]="true"
  [actions]="actions"
  [toolbarShowSubTitle]="true"
  [toolbarHasBack]="toolbarHasBack"
  [toolbarShowBack]="toolbarShowBack"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowProgressBar]="isLoading"
  [toolbarDefaultHref]="toolbarDefaultHref"
  [toolbarBackHandler]="toolbarBackHandler"
>
  <!-- Theme Manager -->
  <x-theme-manager
    [isInPage]="true"
    [wrapWithCard]="true"
    (tabChange)="handleTabChange($event)"
    [actionProvider]="themeManagerActionProvider"
  ></x-theme-manager>
</v-page>
