<v-page
  [hasSide]="true"
  [toolbarTitle]="toolbarTitle"
  [toolbarSubTitle]="toolbarSubTitle"
  [toolbarShowSubTitle]="toolbarShowSubTitle"
>
  <!-- Content -->
  <x-markdown
    [isInPage]="true"
    [mode]="'preview'"
    [hasToolbar]="false"
    [wrapWithCard]="true"
    [content]="getContent('content')"
  ></x-markdown>

  <!-- Expandable Panel -->
  <x-expandable-panel
    [isInPage]="true"
    [isAccordion]="true"
    [wrapWithCard]="true"
    [selected]="'Button'"
    [headerColor]="'tertiary'"
    [headerHighlightColor]="'dark'"
  >
    <!-- Button -->
    <x-panel [id]="'Button'" [hasCustomActions]="true">
      <!-- Title and Description -->
      <div x-panel-title>{{ resourceProvider(ResourceIDs.button) }}</div>

      <br />

      <!-- Description -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('buttonContent')"
      ></x-markdown>

      <!-- Sample1 -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="buttonSample1"
      ></x-markdown>

      <x-button
        [type]="ButtonTypes.Raised"
        [color]="ColorNames.Primary"
        class="ion-margin-horizontal"
        (click)="handleButtonClicked()"
        [title]="ResourceIDs.temp_label"
      ></x-button>

      <!-- Sample2 -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="buttonSample2"
      ></x-markdown>

      <x-button
        [foregroundColor]="true"
        [type]="ButtonTypes.Raised"
        class="ion-margin-horizontal"
        [color]="ColorNames.Secondary"
        (click)="handleButtonClicked()"
        [title]="ResourceIDs.temp_label"
      ></x-button>

      <!-- Sample3 -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="buttonSample3"
      ></x-markdown>

      <x-button
        [type]="ButtonTypes.Icon"
        [color]="ColorNames.Tertiary"
        class="ion-margin-horizontal"
        (click)="handleButtonClicked()"
      >
        <x-icon [name]="'list'" [color]="'light'"></x-icon>
      </x-button>

      <!-- Actions -->
      <div x-panel-actions>
        <a
          target="_blank"
          href="./assets/docs/x-framework-components/components/XButtonComponent.html"
          >{{resourceProvider(ResourceIDs.documentation)}}</a
        >
      </div>
    </x-panel>

    <!-- ActionBar -->
    <x-panel [id]="'ActionBar'" [hasCustomActions]="true">
      <!-- Title and Description -->
      <div x-panel-title>{{ resourceProvider(ResourceIDs.action_bar) }}</div>
      <!-- <div x-panel-description>
        {{ resourceProvider(ResourceIDs.action_bar_description) }}
      </div> -->

      <br />

      <!-- Description -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('actionBarContent')"
      ></x-markdown>

      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="actionBarSample1"
      ></x-markdown>

      <x-action-bar
        [color]="ColorNames.Dark"
        [actions]="actionBarItems"
        (actionFired)="handleActionFired($event)"
      ></x-action-bar>

      <!-- Actions -->
      <div x-panel-actions>
        <a
          target="_blank"
          href="./assets/docs/x-framework-components/components/XActionBarComponent.html"
          >{{resourceProvider(ResourceIDs.documentation)}}</a
        >
      </div>
    </x-panel>

    <!-- SearchBar -->
    <x-panel [id]="'SearchBar'" [hasCustomActions]="true">
      <!-- Title and Description -->
      <div x-panel-title>{{ resourceProvider(ResourceIDs.search_bar) }}</div>
      <!-- <div x-panel-description>
        {{ resourceProvider(ResourceIDs.search_bar_description) }}
      </div> -->

      <br />

      <!-- Description -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('searchBarContent')"
      ></x-markdown>

      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="searchBarSample1"
      ></x-markdown>

      <x-search-bar
        value="test"
        [color]="ColorNames.Dark"
        [enterKeyHint]="'search'"
        [searchInputColor]="'dark-tint'"
        (queryChange)="handleQueryChanged($event)"
      >
      </x-search-bar>

      <!-- Actions -->
      <div x-panel-actions>
        <a
          target="_blank"
          href="./assets/docs/x-framework-components/components/XSearchBarComponent.html"
          >{{resourceProvider(ResourceIDs.documentation)}}</a
        >
      </div>
    </x-panel>

    <!-- Alert -->
    <x-panel [id]="'Alert'" [hasCustomActions]="true">
      <!-- Title and Description -->
      <div x-panel-title>{{ resourceProvider(ResourceIDs.alert) }}</div>
      <!-- <div x-panel-description>
        {{ resourceProvider(ResourceIDs.alert_description) }}
      </div> -->

      <br />

      <!-- Description -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('alertContent')"
      ></x-markdown>

      <!-- Sample1 -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="alertSample1"
      ></x-markdown>

      <x-button
        [type]="ButtonTypes.Raised"
        [title]="ResourceIDs.alert"
        (click)="handleShowAlert()"
        [color]="ColorNames.Primary"
        class="ion-margin-horizontal"
      ></x-button>

      <!-- Sample2 -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="alertSample2"
      ></x-markdown>

      <x-button
        [type]="ButtonTypes.Raised"
        [title]="ResourceIDs.alert"
        (click)="handleShowNativeAlert()"
        [color]="ColorNames.Tertiary"
        class="ion-margin-horizontal"
      ></x-button>

      <br />
      <br />

      <!-- Propt Description -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('promptContent')"
      ></x-markdown>

      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="promptSample1"
      ></x-markdown>

      <x-button
        [type]="ButtonTypes.Raised"
        [title]="ResourceIDs.prompt"
        (click)="handleShowPrompt()"
        [color]="ColorNames.Tertiary"
        class="ion-margin-horizontal"
      ></x-button>

      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="promptSample2"
      ></x-markdown>

      <x-button
        [type]="ButtonTypes.Raised"
        [title]="ResourceIDs.prompt"
        (click)="handleShowNativePrompt()"
        [color]="ColorNames.Primary"
        class="ion-margin-horizontal"
      ></x-button>

      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="promptSample3"
      ></x-markdown>

      <x-button
        [type]="ButtonTypes.Raised"
        [title]="ResourceIDs.prompt"
        [color]="ColorNames.Primary"
        class="ion-margin-horizontal"
        (click)="handleShowActionModal()"
      ></x-button>

      <br />
      <br />

      <!-- Modal -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('modalContent')"
      ></x-markdown>

      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="modalSample1"
      ></x-markdown>

      <x-button
        [type]="ButtonTypes.Raised"
        [title]="ResourceIDs.alert"
        [color]="ColorNames.Primary"
        class="ion-margin-horizontal"
        (click)="handleShowModal()"
      ></x-button>

      <br />
      <br />

      <!-- PopOver -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('popOverContent')"
      ></x-markdown>

      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="popOverSample1"
      ></x-markdown>

      <x-button
        [type]="ButtonTypes.Raised"
        [title]="ResourceIDs.alert"
        [color]="ColorNames.Primary"
        class="ion-margin-horizontal"
        (click)="handleShowPopOver($event)"
      ></x-button>

      <!-- Actions -->
      <div x-panel-actions>
        <a
          target="_blank"
          href="./assets/docs/x-framework-services/injectables/XDialogService.html#presentAlert"
          >{{resourceProvider(ResourceIDs.documentation)}}</a
        >
      </div>
    </x-panel>

    <!-- Notification -->
    <x-panel [id]="'Notification'" [hasCustomActions]="true">
      <!-- Title and Description -->
      <div x-panel-title>{{ resourceProvider(ResourceIDs.notification) }}</div>
      <!-- <div x-panel-description>
        {{ resourceProvider(ResourceIDs.notification_description) }}
      </div> -->

      <br />

      <!-- Description -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('notificationContent')"
      ></x-markdown>

      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="notificationSample1"
      ></x-markdown>

      <x-button
        [type]="ButtonTypes.Raised"
        [color]="ColorNames.Danger"
        class="ion-margin-horizontal"
        (click)="handleShowNotification()"
        [title]="ResourceIDs.notification"
      ></x-button>

      <!-- Actions -->
      <div x-panel-actions>
        <a
          target="_blank"
          href="./assets/docs/x-framework-services/injectables/XNotificationService.html"
          >{{resourceProvider(ResourceIDs.documentation)}}</a
        >
      </div>
    </x-panel>

    <!-- Spinner -->
    <x-panel [id]="'Spinner'" [hasCustomActions]="true">
      <!-- Title and Description -->
      <div x-panel-title>{{ resourceProvider(ResourceIDs.spinner) }}</div>
      <!-- <div x-panel-description>
        {{ resourceProvider(ResourceIDs.spinner_description) }}
      </div> -->

      <br />

      <!-- Description -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('spinnerContent')"
      ></x-markdown>

      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="spinnerSample1"
      ></x-markdown>

      <!-- Bubbles -->
      <x-spinner
        [color]="ColorNames.Primary"
        [name]="SpinnerNames.Bubbles"
      ></x-spinner>

      <!-- Circles -->
      <x-spinner
        [name]="SpinnerNames.Circles"
        [color]="ColorNames.Secondary"
      ></x-spinner>

      <!-- Tertiary -->
      <x-spinner
        [color]="ColorNames.Tertiary"
        [name]="SpinnerNames.Circular"
      ></x-spinner>

      <!-- Dark -->
      <x-spinner
        [color]="ColorNames.Dark"
        [name]="SpinnerNames.Crescent"
      ></x-spinner>

      <!-- Warning -->
      <x-spinner
        [color]="ColorNames.Warning"
        [name]="SpinnerNames.Dots"
      ></x-spinner>

      <!-- Danger -->
      <x-spinner
        [color]="ColorNames.Danger"
        [name]="SpinnerNames.Lines"
      ></x-spinner>

      <!-- Success -->
      <x-spinner
        [color]="ColorNames.Success"
        [name]="SpinnerNames.LinesSmall"
      ></x-spinner>

      <!-- Actions -->
      <div x-panel-actions>
        <a
          target="_blank"
          href="./assets/docs/x-framework-components/components/XSpinnerComponent.html"
          >{{resourceProvider(ResourceIDs.documentation)}}</a
        >
      </div>
    </x-panel>

    <!-- Loading -->
    <x-panel [id]="'Loading'" [hasCustomActions]="true">
      <!-- Title and Description -->
      <div x-panel-title>{{ resourceProvider(ResourceIDs.loading) }}</div>
      <!-- <div x-panel-description>
        {{ resourceProvider(ResourceIDs.loading_description) }}
      </div> -->

      <br />

      <!-- Description -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('loadingContent')"
      ></x-markdown>

      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="loadingSample1"
      ></x-markdown>

      <x-button
        [type]="ButtonTypes.Raised"
        class="ion-margin-horizontal"
        [color]="ColorNames.Secondary"
        (click)="handleShowLoading()"
        [title]="ResourceIDs.loading"
      ></x-button>

      <!-- Actions -->
      <div x-panel-actions>
        <a
          target="_blank"
          href="./assets/docs/x-framework-services/injectables/XDialogService.html#presentLoading"
          >{{resourceProvider(ResourceIDs.documentation)}}</a
        >
      </div>
    </x-panel>

    <!-- Color -->
    <x-panel [id]="'color'" [hasCustomActions]="true">
      <!-- Title and Description -->
      <div x-panel-title>{{ resourceProvider(ResourceIDs.color) }}</div>
      <!-- <div x-panel-description>
        {{ resourceProvider(ResourceIDs.color_description) }}
      </div> -->

      <br />

      <!-- Description -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('colorContent')"
      ></x-markdown>

      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="colorSample1"
      ></x-markdown>

      <!-- Component -->
      <x-color [value]="{ key: 'black', value: '#000000' }"></x-color>

      <!-- Actions -->
      <div x-panel-actions>
        <a
          target="_blank"
          href="./assets/docs/x-framework-components/components/XColorComponent.html"
          >{{resourceProvider(ResourceIDs.documentation)}}</a
        >
      </div>
    </x-panel>

    <!-- Picker -->
    <x-panel [id]="'Picker'" [hasCustomActions]="true">
      <!-- Title and Description -->
      <div x-panel-title>{{ resourceProvider(ResourceIDs.picker) }}</div>
      <!-- <div x-panel-description>
        {{ resourceProvider(ResourceIDs.picker_description) }}
      </div> -->

      <br />

      <!-- Description -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('pickerContent')"
      ></x-markdown>

      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="pickerSample1"
      ></x-markdown>

      <x-button
        [type]="ButtonTypes.Raised"
        class="ion-margin-horizontal"
        [color]="ColorNames.Primary"
        (click)="handleShowSelect()"
        [title]="ResourceIDs.picker"
      ></x-button>

      <!-- Actions -->
      <div x-panel-actions>
        <a
          target="_blank"
          href="./assets/docs/x-framework-services/injectables/XDialogService.html#presentPicker"
          >{{resourceProvider(ResourceIDs.documentation)}}</a
        >
      </div>
    </x-panel>

    <!-- Slotter -->
    <x-panel [id]="'Slotter'" [hasCustomActions]="true">
      <!-- Title and Description -->
      <div x-panel-title>{{ resourceProvider(ResourceIDs.slotter) }}</div>
      <!-- <div x-panel-description>
        {{ resourceProvider(ResourceIDs.slotter_description) }}
      </div> -->

      <br />

      <!-- Description -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('slotterContent')"
      ></x-markdown>

      <br />
      <br />
      <h4>{{ resourceProvider(ResourceIDs.horizontal) }}</h4>

      <!-- Sample 1 -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="slotterSample1"
      ></x-markdown>
      <br />
      <br />
      <x-slotter [layout]="SlotLayout.HORIZONTAL">
        <x-slot [name]="SlotNames.START" [cssClass]="'ion-text-start'">
          Start
        </x-slot>
        <x-slot [name]="SlotNames.CENTER" [cssClass]="'ion-text-center'">
          Center
        </x-slot>
        <x-slot [name]="SlotNames.END" [cssClass]="'ion-text-end'">
          End
        </x-slot>
      </x-slotter>

      <br />
      <br />
      <!-- Vertical -->
      <h4>{{resourceProvider(ResourceIDs.vertical)}}</h4>

      <!-- Sample 1 -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [cssClass]="'code-block'"
        [content]="slotterSample2"
      ></x-markdown>
      <br />
      <br />
      <x-slotter [layout]="SlotLayout.VERTICAL">
        <x-slot [name]="SlotNames.TOP" [cssClass]="'ion-text-center'">
          Top
        </x-slot>
        <x-slot [name]="SlotNames.CENTER" [cssClass]="'ion-text-center'">
          Center
        </x-slot>
        <x-slot [name]="SlotNames.BOTTOM" [cssClass]="'ion-text-center'">
          Bottom
        </x-slot>
      </x-slotter>

      <!-- Actions -->
      <div x-panel-actions>
        <a
          target="_blank"
          href="./assets/docs/x-framework-components/modules/XSlotterModule.html"
          >{{resourceProvider(ResourceIDs.documentation)}}</a
        >
      </div>
    </x-panel>

    <!-- Empty -->
    <x-panel [id]="'Empty'" [hasCustomActions]="true">
      <!-- Title and Description -->
      <div x-panel-title>
        {{ resourceProvider(ResourceIDs.empty_component) }}
      </div>
      <!-- <div x-panel-description>
        {{ resourceProvider(ResourceIDs.empty_component_description) }}
      </div> -->

      <br />

      <!-- Description -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="getContent('emptyContent')"
      ></x-markdown>

      <!-- Sample -->
      <x-markdown
        [mode]="'preview'"
        [hasToolbar]="false"
        [content]="emptySample1"
        [cssClass]="'code-block'"
      ></x-markdown>

      <x-empty
        [hasRefresh]="true"
        [foregroundColor]="false"
        [color]="ColorNames.Dark"
        (refresh)="handleRefreshEmpty()"
        [foregroundMessageColor]="false"
        [messageColor]="ColorNames.Dark"
        [refreshButtonColor]="ColorNames.Dark"
        [foregroundRefreshButtonColor]="false"
      ></x-empty>

      <!-- Actions -->
      <div x-panel-actions>
        <a
          target="_blank"
          href="./assets/docs/x-framework-components/components/XEmptyComponent.html"
          >{{resourceProvider(ResourceIDs.documentation)}}</a
        >
      </div>
    </x-panel>
  </x-expandable-panel>
</v-page>
